.app-messages {
  list-style: none;
  position: fixed;
  z-index: 1;
  top: 180px;
  right: 10px;
  background-color: black;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}

.app-message {
  background-color: black;
  color: orange;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  text-transform: capitalize;
  align-items: baseline;
  padding: 10px;
  animation: slide 0.4s linear;
}

.app-message:hover {
  background-color: #333;
}

.app-messages button {
  width: min-content;
  white-space: nowrap;
}

@keyframes slide {
  from {
    transform: translateY(-20rem);
  }
  to {
    transform: translateY(0);
  }
}
