.product-card {
  background-color: black;
  width: min-content;
  padding: 30px;
  border-radius: 15px;
}

.product-card:hover {
  background-color: #333;
}

.product-card h3 {
  color: orange;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.product-card button {
  background-color: orange;
  color: purple;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
}

.product-card p {
  color: orange;
  white-space: nowrap;
}

.product-card button:hover {
  opacity: 0.9;
  box-shadow: 2px 2px 2px 1px rgba(241, 186, 122, 0.8);
}

.product-card img {
  height: 200px;
  width: 200px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.card-footer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 480px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
  .product-card img {
    height: 250px;
    width: 250px;
  }
  .card-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .product-card img {
    height: 300px;
    width: 300px;
  }
}
