p {
  color: orange;
}

.app-content {
  position: relative;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  justify-content: center;
}

.app-content:before {
  content: ' ';
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url(../assets/images/page_bg_products.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

@media (min-width: 768px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }  
}

@media (min-width: 1024px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }  
}
