h1.app-atom, h2.app-atom, h3.app-atom, h4.app-atom, h5.app-atom, h6.app-atom {
  text-transform: capitalize;
}

h1.app-atom {
  font-size: 30px;
}

h2.app-atom {
  font-size: 26px;
}

p.app-atom {
  font-size: 16px;
  line-height: 32px;
}

.app-atom {
  color: purple;
}

.app-button {
  background-color: orange;
  color: purple;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.app-button:hover {
  opacity: 0.9;
  box-shadow: 2px 2px 2px 1px rgba(241, 186, 122, 0.8);
}

.app-logo {
  height: 50px;
  width: 50px;
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .app-logo {
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }  
}
