.app-content {
  min-height: 80vh;
  padding: 10%;
  position: relative;
}

.app-footer {
  background-color: black;
}

.app-footer p {
  color: white;
}

.home-page-img {
  float: right;
  width: 500px;
}

.scroll-lock {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 480px) {

}

@media (max-width: 768px) {
  
}

@media (max-width: 1024px) {
  
}

@media (max-width: 1200px) {
  
}
