.app-content {
  min-height: 80vh;
  padding: 10%;
  position: relative;
}

.app-icon-btn {
  cursor: pointer;
}

.scroll-lock {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@media (min-width: 480px) {

}

@media (min-width: 768px) {
  .app-content {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

@media (min-width: 1024px) {
  
}

@media (min-width: 1200px) {
  
}
