.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.logo {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: black;
}

.app-header a {
  color: orange;
  font-size: xx-large;
  text-decoration: none;
  padding: 20px;
}

.app-content {
  min-height: 80vh;
  padding: 10%;
  position: relative;
}

.app-footer {
  background-color: black;
}

.app-footer p {
  color: white;
}

.home-page-img {
  float: right;
  width: 500px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
