.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: black;
}

.app-header a {
  color: orange;
  font-size: xx-large;
  text-decoration: none;
  padding: 20px;
  border-bottom: 5px solid black;
}

.app-header a:hover, 
.app-header a:focus,
html.home .app-header a[href="/"],
html.origami .app-header a[href="/origami"],
html.books .app-header a[href="/books"] {
  outline: none;
  border-bottom: 5px solid orange;
}

.desktop-nav {
  display: none;
}

.mobile-nav {
  display: inline-block;
  padding: 10px;
  font-size: 28px;
}

@media (min-width: 480px) {

}

@media (min-width: 768px) {
  .app-header {
    padding: 0 30px;
  }
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: inline-block;
    margin-left: 30%;
  }
}

@media (min-width: 1024px) {
  .desktop-nav {
    margin-left: 40%;
  }
}

@media (min-width: 1200px) {
  .desktop-nav {
    margin-left: 45%;
  }
}

@media (min-width: 1400px) {
  .app-header {
    padding: 10px 30px;
  }
}
